<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        margin: 0px;
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      }
      .container {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 100px;
      }
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }
      input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #0056b3;
      }
      .signup-link {
        text-align: center;
        margin-top: 15px;
      }
      .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        background: #343a40;
      }

      .logo {
        height: 45px;
        width: 100px;
        display: flex;
        padding-left: 20px;
        align-items: center;
        justify-content: flex-start;
      }

      img {
        height: 40px;
      }

      .outer-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
      }
      .hr-line {
        background: rgb(150, 150, 150);
        opacity: 0.7;
        height: 2px;
        width: 100%;
      }
      .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px 30px;
      }

      .left-side-footer {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .right-side-footer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
      }
      .right-side-footer p {
        margin: 0;
      }
      .right-side-footer h3 {
        margin-bottom: 2px;
      }
      .User-bar a{
        color: white;
        text-decoration: none;
        padding-right: 20px;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar-container">
      <div class="logo">
        <img src="../logo.jpeg" alt="" />

      </div>
      <div class="User-bar">
        <i></i>
        <a href="/login">Users</a>
      </div>
    </nav>

    <div class="container">
      <h2>Admin Login</h2>
      <form action="/adminlogin" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <input type="submit" value="Login" />
      </form>
      
    </div>

    <div class="outer-footer">
      <div class="hr-line"></div>
      <div class="footer-container">
        <div class="left-side-footer">
          <span>
            ©<a
              href="https://www.monadelectronics.in/"
              style="text-decoration: none; color: black; font-weight: 700"
              >Monad Electronics.</a
            >
            All Rights Reserved
          </span>
          <span>Developed and managed by: Nikesh-Navneet</span>
        </div>
        <div class="right-side-footer">
          <h3>Call us</h3>
          <p>08046046659</p>
        </div>
      </div>
    </div>
  </body>
</html>
