<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Admin</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      a {
        color: rgb(85, 83, 83);
        font-size: 20px;
        display: table;
        width: 300px;
        padding: 10px;
        text-decoration: none;
      }
      a:hover {
        font-size: 1.25rem;
        color: #000;
      }

      .left-side-body {
        flex: 1;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .right-side-body {
        background: aliceblue;
        height: 90vh;
        width: 300px;
        overflow-y: auto;
      }
      /* Your existing styles */

      .right-side-body {
        display: none;
      }

      .show {
        display: block;
      }

      ul li {
        display: flex;
        justify-content: start;
        align-items: center;
        list-style: none;
        text-align: start;
      }
      body {
        font-family: Arial, sans-serif;
        margin: 0;
      }
      nav {
        background-color: #333;
        color: #fff;
        height: 65px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
      }
      nav a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
      }
      .right-side {
        display: flex;
        align-items: baseline;
      }

      .container {
        height: 100%;
        display: flex;
        text-align: center;
      }
      .button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin: 10px;
      }
      .button:hover {
        background-color: #0056b3;
      }
      img {
        height: 45px;
      }
      .left-side {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 10px;
      }
      .outer-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
      }
      .hr-line {
        background: rgb(150, 150, 150);
        opacity: 0.7;
        height: 2px;
        width: 100%;
      }
      .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px 30px;
      }

      .left-side-footer {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 5px;
      }
      .right-side-footer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
      }
      .right-side-footer p {
        margin: 0;
      }

      .right-side-footer h3 {
        margin-bottom: 2px;
      }
      .left-main-body {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="left-side">
        <img src="./logo.jpeg" alt="" />
      </div>
      <div class="right-side">
        <i class="fa-solid fa-bars menu" id="menu-icon"> </i>
      </div>
    </nav>

    <div class="container">
      <div class="left-side-body">
        <div class="left-main-body">
            <h2>Admin Panel</h2>
          <h1>Monad Electronics</h1>
        <div>
          <form method="get" action="/userlist">
            <button class="button">Users</button>
          </form>

          
        </div>
        </div>
        <div class="outer-footer">
          <div class="hr-line"></div>
          <div class="footer-container">
            <div class="left-side-footer">
              <span>
                <a href="https://www.monadelectronics.in/"
                  style="text-decoration: none; color: black; font-weight: 700"
                  >©Monad Electronics.</a
                >
                All Rights Reserved
              </span>
              <span>Developed and managed by: Nikesh-Navneet</span>
            </div>
            <div class="right-side-footer">
              <h3>Call us</h3>
              <p>08046046659</p>
            </div>
          </div>
        </div>
        
      </div>

        <div class="right-side-body">
          <ul>
            <li>
              <a href="/admin">
                <i class="fas fa-home"></i>
                <span class="nav-item">Home</span>
              </a>
            </li>
            
            
  
            <li id="logout">
              <a  href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Logout</span>
              </a>
            </li>
          </ul>
        </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const menuIcon = document.getElementById("menu-icon");
        const rightSideBody = document.querySelector(".right-side-body");

        menuIcon.addEventListener("click", function () {
          rightSideBody.classList.toggle("show");
        });
      });
    </script>
  </body>
</html>
