<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
</head>
<body>
    <nav>
        <div class="left-side">
            <img src="./logo.jpeg" alt="">
            <a href="/view/attendance">Attendance</a>
            <a href="/view/feedback">Feedback</a>
        </div>
        <div class="right-side">
            <!-- Placeholder for user name -->
            <a href="/logout"><img src="./logout.svg" alt=""> Logout</a> <!-- Add Logout link when user is logged in -->
            <span style="margin-left: 10px;" id="username-placeholder"><%= userCred.email %></span>
            
        </div>
    </nav>
    
</body>
</html>




nav {
    background-color: #333;
    color: #fff;
    height: 65px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
.right-side {
    display: flex;
    align-items: baseline;
}
.right-side a img{
    height: 15px;
}
.container {
    text-align: center;
    margin-top: 50px;
}
.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}
.button:hover {
    background-color: #0056b3;
}
img{
    height: 45px;
}
.left-side{
    display: flex;
    align-items: center;
    gap: 10px;
}



