<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Attendance record</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Your attendance record</h1>
    <table>
        <thead>
            <% if (!worksession || worksession.length === 0) { %>
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            <% } else { %>
                <tr>
                    <th>Serial Number</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            <% }; %>
        </thead>
        <tbody>
            <% worksession.forEach((session, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= formatDate(session.startTime) %></td>
                    <td><%= formatTime(session.startTime) %></td>
                    <td><%= session.endTime ? formatTime(session.endTime) : 'Null' %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <% 
    function formatDate(date) {
        const formattedDate = new Date(date);
        const day = formattedDate.getDate();
        const month = formattedDate.getMonth() + 1; // Add 1 because getMonth() returns 0-based index
        const year = formattedDate.getFullYear();
        return `${day < 10 ? '0' + day : day}/ ${month < 10 ? '0' + month : month}/${year}`;
    }

    function formatTime(date) {
        return new Date(date).toLocaleTimeString();
    }
    %>
</body>
</html>
